# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Entornos virtuales
*venv/
.env/

# Archivos temporales
*.tmp
*.log
*.swp

gateways/
sensor_humidity_aws_wifi/data/certificate.pem
sensor_humidity_aws_wifi/data/private.key
sensor_humidity_aws_wifi/data/public.txt
sensor_humidity_aws_wifi/data/metadata.json