# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Entornos virtuales
*venv/
.env/

# Archivos temporales
*.tmp
*.log
*.swp

gateways/
sketches/sensor_humidity_wifi/data/certificate.pem
sketches/sensor_humidity_wifi/data/private.key
sketches/sensor_humidity_wifi/data/public.key
sketches/sensor_humidity_wifi/data/metadata.json
codigo_de_prueba_telemetria/